.mapContainer {
    height: 85vh;
    width: 100%;
    position: relative;
}

.leftPane,
.mapPane {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.mapPane {

    width: 100%;
}

.leftPane {
    z-index: 10;
    width: 18%;
}

.leftPaneButton {
    opacity: 0.9;
    margin-left: 50px;
    margin-top: 50px;
    z-index: 20;
    position: absolute; 
    width: 50px;
    height: 50px;
    background-color: #e6e6ed;
    border-radius: 50%;
}
